@import "~bootstrap/scss/bootstrap";
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import "swiper/css/bundle"; 
@import '../../public/assets/scss/main.scss';
@font-face {
  font-family: "Universal Sans";
  src: url("/assets/fonts/UniversalSans-Regular.woff2") format("woff2"),
       url("/assets/fonts/UniversalSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Universal Sans";
  src: url("/assets/fonts/UniversalSans-Bold.woff2") format("woff2"),
       url("/assets/fonts/UniversalSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.universal {
  font-family: "Universal Sans", sans-serif;
}
