@use '../../utils' as *;

/*----------------------------------------*/
/*  7.12 video css start
/*----------------------------------------*/

.tp-video {
  &-wrap {
    line-height: 0;
    position: relative;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 850px;
    width: calc(100% - 30px);

    @media #{$xl, $lg} {
      height: 700px;
      margin-bottom: 100px;
    }

    @media #{$md} {
      margin-bottom: 100px;
      height: 600px;
    }

    @media #{$xs} {
      margin: 0;
      margin-bottom: 40px;
      height: 500px;
      width: 100%;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(16, 16, 17, 0.20);
      border-radius: 12px;
      z-index: 1;
    }

    & .play-video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
      background-position: center;
      background-size: cover;
      display: block;
      position: relative;
      z-index: 0;

      @media (min-width: 1024px) {
        width: 130%;
        margin-left: -15%; // Shift to center since it's wider than 100%
      }
    }
  }

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 70px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media #{$xs} {
      padding: 30px 20px;
    }

    .tp-video-title {
      font-size: 120px;
      font-weight: 400;
      line-height: 1.1;
      color: var(--tp-common-white);
      letter-spacing: -8px;
      margin-bottom: 20px;

      @media #{$xl} {
        font-size: 160px;
      }

      @media #{$lg} {
        font-size: 150px;
      }

      @media #{$md} {
        font-size: 120px;
      }

      @media #{$xs} {
        font-size: 60px;
        line-height: 1.2;
        letter-spacing: -2px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      color: var(--tp-common-white);
      max-width: 460px;

      @media #{$md} {
        font-size: 18px;
        line-height: 26px;
      }

      @media #{$xs} {
        font-size: 16px;
        line-height: 24px;
      }

      b {
        font-weight: 600;
      }
    }
  }
}


.tp-video-3 {
    &-wrap {
        line-height: 0;
        overflow: hidden;

        & video {
            height: 920px;
            width: 100%;
            object-fit: cover;
            overflow: hidden;

            @media #{$xl,$lg} {
                height: 700px;
            }

            @media #{$md,$xs} {
                height: 600px;
            }
        }
    }
}